.mecanicotop { background-color: rgb(212, 228, 243);}
.menubody {background-color: blue;
font-size: 150px;}
.h1 { background-color: rgb(32, 51, 127);
position: absolute;
font-family: Arial, Helvetica, sans-serif;

   } 
